mat-toolbar {
    background: #0F9D58;
    color: white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    .app-title {
        font-size: 16px;
    }
    mat-icon {
        margin: 0 20px 0 10px;
    }
}

mat-list {
    overflow: auto;
    mat-list-item {
        cursor: pointer;
        .date {
            float: right;
            font-size: 12px;
            padding-top: 5px;
            color: #8a8a8a;            
        }
        .last-message-author,
        .last-message {
            color: #8a8a8a;
        }
    }
    mat-list-item:hover {
        background: #F5F5F5;
    }
    mat-list-item.selected {
        background: #EEEEEE;
    }
}